.header-img
{
    margin: 5px;
}

.sub-header
{
    height: 16vh;
    background-color: #2a6f92;
}

.sub-header-img-holder
{
    position:relative;
    height: 100%;
}

.sub-header-img
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

}

.pictures-holder
{
    margin-top: 5px;
}


.sub-header-text
{
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header-tittle
{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
}


.album-name-text
{
  font-family: 'Nunito', sans-serif !important;
    color: var(--ion-color-secondary);
    // color: green;
    font-family: 'Source Serif Pro', serif;
    font-size: 26px;
    font-weight:600;
    text-shadow: 2px 2px 4px #000000;
}

.photo-amount-text
{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 3px #000000;
}

.square-holder
{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:400px) and (max-width:615px){
    .sub-header,  .sub-header-text
    {
        height: 14vh;
    }
}

@media screen  and (max-width:485px){
    .sub-header,  .sub-header-text
    {
        height: 10vh;
    }
 }
