<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="header-back-button" (click)="onBackButton()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <ion-img class="header-img" src="../../assets/images/work-film.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="albumsService.currentAlbum">
    <ion-row class="sub-header">
      <ion-col class="sub-header-img-holder ion-no-padding" size="12">
        <ion-row>
          <ion-col size="12">
            <!-- <ng-container *ngIf="albumsService.currentAlbum.coverImgIndex === 0">
              <ion-img class="sub-header-img" src="../../assets/images/sub-header-no-text.png"></ion-img>
            </ng-container>

            <ng-container *ngIf="albumsService.currentAlbum.coverImgIndex !== 0">

            </ng-container> -->
          </ion-col>

          <ion-col class="sub-header-text" size="12" *ngIf="albumsService.currentAlbum">
            <ion-row class="ion-margin">
              <ion-col class="ion-text-center" size="12">
                <ion-text class="album-name-text">{{albumsService.currentAlbum.name.toUpperCase()}}</ion-text>
              </ion-col>

              <ion-col class="ion-text-center" size="12">
                <ion-text class="photo-amount-text">{{albumsService.currentAlbum.images.length}} PHOTOS</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="">
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-text class="sub-header-tittle">PHOTOS</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="pictures-holder">
      <ion-col class="square-holder ion-margin-bottom" size="4">
        <app-visual-square [addButton]="true" addImage="../../assets/images/add-image-icon.png"
          (click)="onAddNewImage()">
        </app-visual-square>
      </ion-col>

      <ng-container *ngIf="albumsService.currentAlbum">
        <ion-col class="square-holder ion-margin-bottom" size="4"
          *ngFor="let image of albumsService.currentAlbum.images">
          <app-visual-square [imageInfo]="image" (click)="onViewImageDetails(image)"></app-visual-square>
        </ion-col>
      </ng-container>

    </ion-row>



  </ion-grid>

</ion-content>
