ion-item
{
  border-bottom: 1px var(--ion-color-primary) solid;
}

.sub-header-text
{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    // color: blueviolet
}

.submit-button
{
  margin-top: 35px;
  width: 100%;
  height: 55px;
  background-color: var(--ion-color-secondary);
  border: 3px white solid;
  border-radius: 30px;
  outline:none;
  color: black;
}
