<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="header-back-button" (click)="onBackButton()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <ion-img class="header-img" src="../../assets/images/work-film.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding  bg-secondary" [ngStyle]="{'height': '100%'}">
    <ion-row>
      <!-- SUB HEADER -->
      <ion-col class="sub-header-holder ion-text-center ion-margin-top ion-padding" size="12">
        <ion-text color="tertiary" class="sub-header-text ">RESET PASSWORD</ion-text>
      </ion-col>
      <!-- EMAIL INPUT -->
      <ion-col class="ion-margin-top ion-padding-top" size="8" offset="2">
        <ion-item color="transparent" lines="none">
          <ion-label position="floating">E-MAIL</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
      <!-- LOGIN BUTTON -->
      <ion-col size="8" offset="2">
        <button class="submit-button" (click)="onSubmit()">RESET PASSWORD</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
