.header
{
    height: 12vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #2a6f92;
}

.image-holder
{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.image-holder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.image-holder ion-img
{
    z-index: 0;
}

.header-text
{
    margin-top: 150px;
    color: var(--ion-color-secondary);
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 3px #000000;
}

// ion-buttons
// {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 15px;
//     color:white;
//     font-size: 22px;
// }

ion-footer ion-toolbar
{
   padding: 35px;
}

ion-footer ion-text
{
    font-family: 'Nunito', sans-serif;
    color:white;
    font-size: 24px;
    font-weight: bolder;
}

.spinner-large {
    width: 120px;
    height: 120px;
  }

  .spinner-holder
  {
      margin-top: 50px;
      display: flex;
      justify-content: center;
  }

  .transparent
  {
    opacity:0;
  }

  select
  {
      background-color: white;
      border: 0px solid white;
  }

  ion-select {
    width: 100%;

    justify-content: center;
  }

  .preview-img-holder
  {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .settings-btn
  {
    color: white;
    padding-right: 15px;
    font-size: 24px;
  }

  .backdrop
  {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 10;
    opacity: 0.7;
  }

  .menu
  {
    position: fixed;
    top: 69px;
    right: 0;
    width: 150px;
    // height: 100px;
    background-color: white;
    z-index: 11;
    // text-align: right;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    padding: 10px;

    border-radius: 0px 0px 0px 10px;
  }

  .menu ion-col
  {
    display: flex;
    align-items: center;
  }

  .menu-icon
  {
    margin-right: 5px;
    font-size: 22px;
  }

  .menu-icon-small
  {
    margin-right: 5px;
    margin-left: 3px;
    font-size: 18px;
  }

  .header-options-icon
  {
    color: white;
    padding-right: 20px;
    font-size: 24px;
  }

  .header-options-icon.paste
  {
    font-size: 28px;
  }

  .header-options-icon.muted
  {
    color: var(--ion-color-medium-shade);;
  }

  .item-copy-values
  {
    height: 60px;
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-light);
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    font-weight: 500;
  }

  .item-copy-values.no-values
  {
    background-color: var(--ion-color-medium);
  }

  .item-copy-values.on-copy-or-paste{
    background-color: var(--ion-color-success) !important;
  }
