<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="header-back-button" (click)="close()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-no-padding">
      <ion-img class="header-img" src="assets/images/work-film.png"></ion-img>
    </ion-title>

    <!-- <ion-buttons slot="end"> -->
    <!-- <ion-icon name="options" class="settings-btn" (click)="onShowOptions(true)"></ion-icon> -->
    <!-- <ion-icon name="copy" class="menu-icon-small header-options-icon" *ngIf="viewOnly" (click)="copyImageValues()">
      </ion-icon> -->
    <!-- <ion-icon name="log-in" class="menu-icon header-options-icon paste"
        [ngClass]="{'muted' : !cameraInfoService.copiedImageInfo}" *ngIf="!viewOnly" (click)="pastImageValues()">
      </ion-icon> -->
    <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-no-padding">

    <ion-row *ngIf="showBackdrop">
      <ion-col size="12">
        <div class="backdrop" (click)="onShowOptions(false)"></div>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="showBackdrop">
      <ion-col size="12">
        <ion-row class="menu">
          <ion-col size="12" class="bold ion-margin-bottom" (click)="copyImageValues()">
            <ion-icon name="copy" class="menu-icon-small"></ion-icon> copy values
          </ion-col>
          <ion-col size="12" class="bold" [ngClass]="{'text-muted' : !cameraInfoService.copiedImageInfo}"
            (click)="pastImageValues()">
            <ion-icon name="log-in" class="menu-icon"></ion-icon> past values
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <!-- SPINNER -->
    <ion-row *ngIf="loading">
      <ion-col class="spinner-holder" size="12">
        <ion-spinner color="secondary" class="spinner-large" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="!loading">
      <!-- SUB HEADER -->
      <ion-row class="header" *ngIf="!viewOnly">
        <!-- <ion-col class="image-holder" size="12">
          <ion-img src="assets/images/add-image-img.png"></ion-img>
        </ion-col> -->

        <ion-col size="12">
          <ion-text class="header-text">{{albumInfo.name.toLocaleUpperCase()}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="preview-img-holder" *ngIf="viewOnly">
          <img [src]="imageInfo.url" alt="image">
        </ion-col>
        <!-- FORM LIST -->
        <ion-col size="12">
          <ion-list>
            <!-- PICTURE -->
            <ion-item>
              <ion-label id="profile_image">PICTURE</ion-label>
              <ion-input type="file" (change)="onFileChange($event)" accept="image/x-png,image/gif,image/jpeg"
                [disabled]="viewOnly">
              </ion-input>
            </ion-item>
            <!-- COPY AND PASTE VALUES -->
            <ion-grid class="ion-no-padding">
              <!-- READ MODE -->
              <ng-container *ngIf="viewOnly">
                <ion-row class="item-copy-values" [ngClass]="{'on-copy-or-paste' : onCopy || onPaste}"
                  (click)="copyImageValues()">
                  <ion-col size="2">
                    <ion-img class="" src="assets/icon/copy_paste_icon.png" style="width: 30px;"></ion-img>
                  </ion-col>
                  <ion-col size="10" *ngIf="!onCopy">COPY PHOTO VALUES</ion-col>
                  <ion-col size="10" *ngIf="onCopy">PHOTO VALUES HAS BEEN COPIED</ion-col>
                </ion-row>
              </ng-container>
              <!-- WRITE MODE -->
              <ng-container *ngIf="!viewOnly">
                <!-- IF NO COPIED VALUES -->
                <ion-row class="item-copy-values" *ngIf="!cameraInfoService.copiedImageInfo"
                  [ngClass]="{ 'on-copy-or-paste' : onCopy || onPaste}" (click)="copyImageValues()">
                  <ion-col size="2">
                    <ion-img class="" src="assets/icon/copy_paste_icon.png" style="width: 30px;"></ion-img>
                  </ion-col>
                  <ion-col size="10" *ngIf="!onCopy && !onPaste">COPY PHOTO VALUES</ion-col>
                  <ion-col size="10" *ngIf="onCopy">PHOTO VALUES HAS BEEN COPIED</ion-col>
                  <ion-col size="10" *ngIf="onPaste">PHOTO VALUES HAS BEEN PATED</ion-col>
                </ion-row>
                <!-- IF GOT COPIED VALUES -->
                <ion-row class="item-copy-values" *ngIf="cameraInfoService.copiedImageInfo"
                  [ngClass]="{ 'on-copy-or-paste' : onCopy || onPaste}" (click)="pastImageValues()">
                  <ion-col size="2">
                    <ion-img class="" src="assets/icon/copy_paste_icon.png" style="width: 30px;"></ion-img>
                  </ion-col>
                  <ion-col size="10" *ngIf="!onCopy && !onPaste">PASTE PHOTO VALUES</ion-col>
                  <ion-col size="10" *ngIf="onCopy">PHOTO VALUES HAS BEEN COPIED</ion-col>
                  <ion-col size="10" *ngIf="onPaste">PHOTO VALUES HAS BEEN PATED</ion-col>
                </ion-row>
              </ng-container>

              <!-- <ion-row class="item-copy-values"
                [ngClass]="{'no-values' : !cameraInfoService.copiedImageInfo, 'on-copy-or-paste' : onCopy || onPaste}"
                *ngIf="!viewOnly" (click)="pastImageValues()">
                <ion-col size="2">
                  <ion-img class="" src="assets/icon/copy_paste_icon.png" style="width: 30px;"></ion-img>
                </ion-col>
                <ion-col size="10" *ngIf="!onCopy || onPaste">
                  {{cameraInfoService.copiedImageInfo ? 'PASTE PHOTO VALUES' : 'NO VALUES BEEN COPIED'}}
                </ion-col>
                <ion-col size="10" *ngIf="onCopy || onPaste">
                  PHOTO VALUES BEEN PASTED
                </ion-col>
              </ion-row> -->
            </ion-grid>
            <!-- CAPTION -->
            <ion-item>
              <ion-label position="floating">CAPTION</ion-label>
              <ion-input type="text" [(ngModel)]="imageInfo.caption" [disabled]="viewOnly"></ion-input>
            </ion-item>
            <!-- CAMERA -->
            <ion-item>
              <ion-label position="floating">CAMERA</ion-label>
              <ionic-selectable [(ngModel)]="imageInfo.camera" [items]="cameraInfoService.cameras" [canSearch]="true"
                [disabled]="viewOnly">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
              </ionic-selectable>
            </ion-item>
            <!-- OTHER CAMERA -->
            <ion-item *ngIf="imageInfo.camera === 'Add New Camera'">
              <ion-label position="floating">ADD NEW CAMERA</ion-label>
              <ion-input type="text" [(ngModel)]="other.camera" [disabled]="viewOnly">
              </ion-input>
            </ion-item>
            <!-- LENSE -->
            <ion-item>
              <ion-label position="floating">LENSE</ion-label>
              <ion-input type="text" [(ngModel)]="imageInfo.lense" [disabled]="viewOnly"></ion-input>
            </ion-item>
            <!-- ISO RATED AT -->
            <ion-item>
              <ion-label position="floating">ISO RATED AT</ion-label>
              <ion-input type="text" [(ngModel)]="imageInfo.isoRate" [disabled]="viewOnly"></ion-input>
            </ion-item>
            <!-- F-STOP -->
            <ion-item>
              <ion-label position="floating">F-STOP</ion-label>
              <ion-input type="text" [(ngModel)]="imageInfo.f_stop" [disabled]="viewOnly"></ion-input>
            </ion-item>
            <!-- SHUTTER SPEED -->
            <ion-item>
              <ion-label position="floating">SHUTTER SPEED</ion-label>
              <ion-input type="text" [(ngModel)]="imageInfo.sutterSpeed" [disabled]="viewOnly"></ion-input>
            </ion-item>
            <!-- OVER EXPOSE -->
            <ion-item>
              <ion-label position="floating">EXPOSURE</ion-label>
              <ionic-selectable [(ngModel)]="imageInfo.overExpose" [items]="expose" [disabled]="viewOnly">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
              </ionic-selectable>
            </ion-item>
            <!-- AVG BETTWEEN LIGHT AND SHADOW -->
            <ion-item>
              <ion-label position="floating">AVG BETTWEEN LIGHT AND SHADOW</ion-label>
              <ionic-selectable [(ngModel)]="imageInfo.avg_light_shadow" [items]="avg_light_shadow"
                [disabled]="viewOnly">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
              </ionic-selectable>
            </ion-item>
            <!-- FILM -->
            <ion-item>
              <ion-label position="floating">FILM</ion-label>
              <ionic-selectable [(ngModel)]="imageInfo.film" [items]="cameraInfoService.films" [canSearch]="true"
                [disabled]="viewOnly">
                <ng-template ionicSelectableCloseButtonTemplate>
                  <ion-icon name="close-circle"></ion-icon>
                </ng-template>
              </ionic-selectable>
            </ion-item>
            <!-- OTHER FILM -->
            <ion-item *ngIf="imageInfo.film === 'Add New Film'">
              <ion-label position="floating">ADD NEW FILM</ion-label>
              <ion-input type="text" [(ngModel)]="other.film" [disabled]="viewOnly">
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>


      </ion-row>

      <!-- <ion-row>
        <ion-col size="12">
          <ion-button color="primary" (click)="addCameras()">add cameras</ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button color="primary" (click)="addfilms()">add films</ion-button>
        </ion-col>
      </ion-row> -->
    </ng-container>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!loading && !viewOnly">
  <ion-toolbar color="secondary" (click)="onSubmit()" *ngIf="!showBackdrop">
    <ion-title class="ion-text-center ion-padding">
      <ion-text>UPLOAD</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-footer>
