<ion-row class="holder">

  <ion-img class="img" [src]="addImage ? addImage : 'assets/images/add-icon.png'" *ngIf="addButton"></ion-img>
  <!-- <ion-img class="img" [src]="" *ngIf="addButton"></ion-img> -->
  <ion-img class="img" src="assets/images/blank-pink.png" *ngIf="!addButton && imageInfo === null"></ion-img>

  <ng-container *ngIf="imageInfo">
    <div class="image-holder">
      <!-- <ion-img class="img" [src]="imageInfo.url" *ngIf="!addButton" style="width: 30px; height: 30px;"></ion-img> -->
      <ion-img class="" [src]="imageInfo.url" *ngIf="!addButton"></ion-img>
    </div>

    <div class="image-text">
      <div>{{getCameraName()}}</div>
    </div>
  </ng-container>


  <ion-col class="ion-text-center" size="12" *ngIf="albumInfo">
    <ion-text class="album-header">{{albumInfo.name}}</ion-text>
  </ion-col>

  <!-- <ion-col class="ion-text-center" size="12" *ngIf="imageInfo">
    <ion-text class="album-header">image</ion-text>
  </ion-col> -->

</ion-row>