.holder
{
    position: relative;
    height: 100px;
    width: 100px;
    // border: 1px black solid;

    display: flex;
    align-items: center;
}

ion-img.img
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.image-holder
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-holder ion-img
{
  width: 100px !important;
  height: 100px !important;
}

.album-header
{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgb(65, 65, 65);
}

.image-text
{
  position: absolute;
  bottom:0;
  text-align: center; width: 100%;
  font-size: small;
  color: rgb(143, 143, 143);
  font-style: italic;
}

