<ion-content class="" [fullscreen]="true">

  <ion-grid class="ion-no-padding bg-secondary" [ngStyle]="{'height': '100%'}">
    <ion-row class="top-row">

      <ion-col size="12">
        <ion-row>
          <!-- HEADER IMAGE -->
          <ion-col size="12" class="header-image-holder">
            <ion-img class="header-img" src="assets/images/work-film.png"></ion-img>
          </ion-col>

          <ion-col class="spinner-holder" size="12" *ngIf="loading">
            <ion-spinner color="secondary" class="spinner-large" name="crescent"></ion-spinner>
          </ion-col>

          <ng-container *ngIf="!loading">
            <!-- EMAIL INPUT -->
            <ion-col class="ion-margin-top" size="8" offset="2">
              <ion-item color="transparent" lines="none">
                <ion-label position="floating">E-MAIL</ion-label>
                <ion-input type="email" [(ngModel)]="loginInfo.email"></ion-input>
              </ion-item>
            </ion-col>
            <!-- PASSWORD INPUT -->
            <ion-col class="ion-margin-top" size="8" offset="2">
              <ion-item color="transparent" lines="none">
                <ion-label position="floating">PASSWORD</ion-label>
                <ion-input type="password" [(ngModel)]="loginInfo.password"></ion-input>
              </ion-item>
            </ion-col>
            <!-- FORGOT PASSWORD -->
            <ion-col size="8" offset="2">
              <!-- <button class="login-button" [routerLink]="['/reset-password']">FORGOT PASSWORD</button> -->
              <ion-text color="light" class="ion-text-center">
                <p [routerLink]="['/reset-password']" class="ion-text-center">forgot your password?</p>
              </ion-text>
            </ion-col>
            <!-- LOGIN BUTTON -->
            <ion-col size="8" offset="2">
              <button class="login-button" (click)="onSubmit()">LOG IN</button>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="bottom-row" *ngIf="!loading">
      <ion-col size="12">
        <ion-row>
          <!-- BOTTOM HEADER -->
          <ion-col size="12" class="bottom-header">
            NEW USER?
          </ion-col>
          <!-- REGISTER BUTTON -->
          <ion-col class="ion-margin-bottom" size="8" offset="2">
            <button class="register-button" [routerLink]="['/register']">SIGN UP WITH
              EMAIL</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
