.item
{
    background: transparent !important;
    text-align: center;
    color:black;
}

  ion-item
{
  border-bottom: 1px var(--ion-color-primary) solid;
}

.register-button
{
  margin-top: 35px;
  width: 100%;
  height: 55px;
  background-color: var(--ion-color-secondary);
  border: 3px white solid;
  border-radius: 30px;
  outline:none;
  color: black;
}

.register-button:active
{
  background-color:white;
}