<ion-content class="" [fullscreen]="true">

  <ion-grid class="ion-no-padding bg-secondary" [ngStyle]="{'height': '100%'}">

    <ion-row class="bg-primary ion-padding">
      <ion-col size="12" class="header-image-holder">
        <ion-img class="header-img" src="assets/images/work-film.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="bottom-row">

      <ion-col class="spinner-holder" size="12" *ngIf="loading">
        <ion-spinner color="primary" class="spinner-large" name="crescent"></ion-spinner>
      </ion-col>

      <ng-container *ngIf="!loading">
        <ion-col class="ion-margin-top" size="10" offset="1">
          <ion-item color="transparent ion-margin" lines="none">
            <ion-label position="floating">FULL NAME</ion-label>
            <ion-input type="text" [(ngModel)]="registerInfo.name"></ion-input>
          </ion-item>

          <ion-item color="transparent ion-margin" lines="none">
            <ion-label position="floating">E-MAIL</ion-label>
            <ion-input type="email" [(ngModel)]="registerInfo.email"></ion-input>
          </ion-item>

          <ion-item color="transparent ion-margin" lines="none">
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password" [(ngModel)]="registerInfo.password"></ion-input>
          </ion-item>

          <ion-item color="transparent ion-margin" lines="none">
            <ion-label position="floating">VERIFY PASSWORD</ion-label>
            <ion-input type="password" [(ngModel)]="registerInfo.verifyPassword"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-margin-bottom" size="8" offset="2">
          <button class="register-button" [routerLink]="['/register']" (click)="onSubmit()">SIGN UP</button>
        </ion-col>

        <ion-col class="ion-text-center ion-margin-vertical" size="12">
          already a user ?
        </ion-col>

        <ion-col class="ion-text-center ion-margin-bottom" size="12">
          <ion-text color="tertiary" (click)="navigateToLoadingPage()">login</ion-text>
        </ion-col>
      </ng-container>

    </ion-row>
  </ion-grid>

</ion-content>