
// body, html
// {
//   background-color: var(--ion-color-secondary) !important;

// }

.top-row  
{
  // height: 60vh;
  padding-bottom: 100px;
  min-height: 400px;
  background-color: var(--ion-color-primary);
}

.bottom-row  
{
  
  // height: 40vh;
  // background-color: var(--ion-color-secondary);
}

.header-image-holder
{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.header-image-holder ion-img
{
  width: 75%;
  max-width: 600px;
}
.item{
  background: transparent !important;
  text-align: center;
  color:white;
}

.bg-transparent {
  background: transparent;
}

ion-item
{
  border-bottom: 1px var(--ion-color-secondary) solid;
}

.login-button
{
  margin-top: 35px;
  width: 100%;
  height: 55px;
  background-color: var(--ion-color-primary);
  border: 3px var(--ion-color-secondary) solid;
  border-radius: 30px;
  outline:none;
}

.login-button:active
{
  background-color:var(--ion-color-secondary);
}

.bottom-header
{
  margin-top: 35px;
  text-align: center;
  color: var(--ion-color-primary);
  font-size: 22px;
}

.register-button
{
  margin-top: 35px;
  width: 100%;
  height: 55px;
  background-color: var(--ion-color-secondary);
  border: 3px white solid;
  border-radius: 30px;
  outline:none;
  color: black;
}

.register-button:active
{
  background-color:white;
}


