<ion-content class="" [fullscreen]="true">

  <ion-grid class="ion-no-padding bg-secondary" [ngStyle]="{'height': '100%'}">

    <ion-row class="top-row">

      <ion-col size="12">
        <ion-row>
          <!-- HEADER IMAGE -->
          <ion-col size="12" class="header-image-holder">
            <ion-img class="header-img" src="assets/images/work-film.png"></ion-img>
          </ion-col>
          <!-- EMAIL INPUT -->
          <ion-col class="ion-margin-top" size="8" offset="2">
            <ion-item color="transparent" lines="none">
              <ion-label position="floating">E-MAIL</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <!-- PASSWORD INPUT -->
          <ion-col class="ion-margin-top" size="8" offset="2">
            <ion-item color="transparent" lines="none">
              <ion-label position="floating">PASSWORD</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>
          <!-- LOGIN BUTTON -->
          <ion-col size="8" offset="2">
            <button class="login-button">LOG IN</button>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="bottom-row">
      <ion-col size="12">
        <ion-row>
          <!-- BOTTOM HEADER -->
          <ion-col size="12" class="bottom-header">
            NEW USER?
          </ion-col>
          <!-- REGISTER BUTTON -->
          <ion-col size="8" offset="2">
            <button class="register-button" [routerLink]="['/register']">SIGN UP WITH EMAIL</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>