

.header-img
{
    margin: 5px;


}
ion-header{
  position: relative;
}

.img-holder
{
  // background-color: black;
  display: flex;
  justify-content: center;
  padding-left: 40px;
}


.header-img{
  width:170px;
}

.header
{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding: 20px 0px;
  background-color: #2a6f92;
  color: white;
}

.sub-header-text
{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.sub-header-holder
{
    padding: 10px;
}

.square-holder
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-albums-text
{
    margin-top: 55px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

