<ion-header>
  <ion-toolbar color="primary">

    <!-- <ion-buttons class="header-back-button" (click)="onBackButton()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons> -->

    <ion-title class="ion-no-padding">
      <div class="img-holder">

        <img class="header-img" src="../../assets/images/work-film.png" />
      </div>
    </ion-title>

    <ion-buttons class="settings-btn" slot="end">
      <ion-icon name="options" class="settings-btn" (click)="onShowOptions(true)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">

    <app-backdrop (onBackdropClicked)="onShowOptions(false)" *ngIf="showOptions"></app-backdrop>

    <div class="options-box" *ngIf="showOptions">
      <div class="ion-padding" (click)="onLogout()">
        <ion-icon name="log-out-outline" class="ion-margin-left"></ion-icon> <span class="option-box-text">logout</span>
      </div>
    </div>

    <ion-row>
      <ion-col class="header ion-no-padding" size="12">
        MY FILM ALBUM
        <!-- <ion-img class="" src="../../assets/images/sub-header.png"></ion-img> -->
      </ion-col>

      <ion-col class="sub-header-holder ion-text-center" size="12">
        <ion-text class="sub-header-text">ALBUMS</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="loading">
      <ion-col class="spinner-holder" size="12" *ngIf="loading">
        <ion-spinner color="secondary" class="spinner-large" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding" *ngIf="!loading">
      <ion-col class="square-holder ion-margin-bottom" size="4">
        <app-visual-square [addButton]="true" (click)="onOpenModal()"></app-visual-square>
      </ion-col>
      <ng-container *ngIf="albumsService.albums">
        <ion-col class="square-holder ion-margin-bottom" size="4" *ngFor="let album of albumsService.albums">
          <app-visual-square [albumInfo]="album" (click)="onAlbumClicked(album.id)"></app-visual-square>
        </ion-col>
      </ng-container>

      <ng-container *ngIf="!albumsService.albums">
        <ion-col class="ion-text-center no-albums-text" size="12">
          <ion-text color="medium">No albums has found</ion-text>
        </ion-col>
      </ng-container>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-button (click)="test()">test me</ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
