/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body, html
{
 margin: 0 !important;
 padding: 0 !important;
}

ion-grid
{
    max-width: 720px;
}

.bottom-row
{
  background-color: var(--ion-color-secondary);
}

.header-image-holder
{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.header-image-holder ion-img
{
  width: 75%;
  max-width: 600px;
  max-height: 40px;
}

ion-header ion-img
{
  height: 5vh;
}

ion-toolbar
{
  height: 8vh;
  display: flex;
  align-items: center;
}

.bg-primary
{
    background-color: var(--ion-color-primary);
}

.bg-secondary
{
    background-color: var(--ion-color-secondary);
}

.test {
 background-color: rgba(0, 0, 0, 0.5);
}

ion-back-button
{
  color:white
}

.spinner-large {
  width: 120px;
  height: 120px;
}

.spinner-holder
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.header-back-button
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  color:white;
  font-size: 22px;
}

.bold
{
  font-weight: bold;
}

.text-muted
{
  color: var(--ion-color-medium-shade);
}

.text-white
{
  color: white;
}

.text-x
{
  color: #812de2;
}

.settings-btn
{
  color: white;
  font-size: 24px;
  padding-right: 5px;
}

// ion-content{
//   position: relative;
// }

.options-box
{
  position: fixed;
  top: 63px;
  right: 0px;
  width: 150px;
  height: 50px;
  background-color: white;
  z-index: 10;

  display: flex;
  align-items: center;
}

.options-box div{
  display: flex;
  align-items: center;
  font-size: 18px;
}

.options-box .option-box-text{
 margin-left: 5px;
}
